<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.QuestionMapper">
	<select id="selectAddressBookListAll" parameterType="object" resultType="com.kb.api.domain.MSG_DATA">
    SELECT 
		TO_CHAR(TO_DATE(SUB.SDAY, 'YYMMDD'), 'MM.DD') AS "current_day",
		COUNT(ML.SENT_DATE) AS "total",
		COUNT( CASE WHEN ML.RSLT_CODE2 = '0' THEN '0' END ) AS "totals",
		COUNT( CASE WHEN ML.RSLT_CODE2 != '0' THEN '0' END ) AS "totalf",
		COUNT( CASE WHEN MSG_PAY_CODE = 'SMS' THEN 'SMS' END ) AS "sms",
		COUNT( CASE WHEN MSG_PAY_CODE = 'SMS' AND ML.RSLT_CODE2 = '0' THEN 'SMS' END ) AS "smss",
		COUNT( CASE WHEN MSG_PAY_CODE = 'SMS' AND ML.RSLT_CODE2 != '0' THEN 'SMS' END ) AS "smsf",
		COUNT( CASE WHEN MSG_PAY_CODE = 'LMS' THEN 'LMS' END ) AS "lms",
		COUNT( CASE WHEN MSG_PAY_CODE = 'LMS' AND ML.RSLT_CODE2 = '0' THEN 'LMS' END ) AS "lmss",
		COUNT( CASE WHEN MSG_PAY_CODE = 'LMS' AND ML.RSLT_CODE2 != '0' THEN 'LMS' END ) AS "lmsf",
		COUNT( CASE WHEN MSG_PAY_CODE = 'MMS' THEN 'MMS' END ) AS "mms",
		COUNT( CASE WHEN MSG_PAY_CODE = 'MMS' AND ML.RSLT_CODE2 = '0' THEN 'MMS' END ) AS "mmss",
		COUNT( CASE WHEN MSG_PAY_CODE = 'MMS' AND ML.RSLT_CODE2 != '0' THEN 'MMS' END ) AS "mmsf",	
		COUNT( CASE WHEN MSG_PAY_CODE = 'NOT' THEN 'NOT' END ) AS "not",
		COUNT( CASE WHEN MSG_PAY_CODE = 'NOT' AND ML.RSLT_CODE2 = '0' THEN 'NOT' END ) AS "nots",
		COUNT( CASE WHEN MSG_PAY_CODE = 'NOT' AND ML.RSLT_CODE2 != '0' THEN 'NOT' END ) AS "notf",
		COUNT( CASE WHEN MSG_PAY_CODE = 'NOT' THEN 'NOT' END ) AS "notr",
		COUNT( CASE WHEN MSG_PAY_CODE = 'NOT' AND ML.RSLT_NET = 'ETC' AND MSG_RESEND_COUNT > 0 THEN 'NOT' END ) AS "notrs",
		COUNT( CASE WHEN MSG_PAY_CODE = 'NOT' AND ML.RSLT_NET = 'ETC' AND MSG_RESEND_COUNT = 0 THEN 'NOT' END ) AS "notrf",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRT' THEN 'FRT' END ) AS "frt",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRT' AND ML.RSLT_CODE2 = '0' THEN 'FRT' END ) AS "frts",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRT' AND ML.RSLT_CODE2 != '0' THEN 'FRT' END ) AS "frtf",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRT' THEN 'FRT' END ) AS "frtr",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRT' AND ML.RSLT_NET = 'ETC' AND MSG_RESEND_COUNT > 0 THEN 'FRT' END ) AS "frtrs",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRT' AND ML.RSLT_NET = 'ETC' AND MSG_RESEND_COUNT = 0 THEN 'FRT' END ) AS "frtrf",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRI' THEN 'FRI' END ) AS "fri",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRI' AND ML.RSLT_CODE2 = '0' THEN 'FRI' END ) AS "fris",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRI' AND ML.RSLT_CODE2 != '0' THEN 'FRI' END ) AS "frif",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRI' THEN 'FRI' END ) AS "frir",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRI' AND ML.RSLT_NET = 'ETC' AND MSG_RESEND_COUNT > 0 THEN 'FRI' END ) AS "frirs",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FRI' AND ML.RSLT_NET = 'ETC' AND MSG_RESEND_COUNT = 0 THEN 'FRI' END ) AS "frirf",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FIT' THEN 'FIT' END ) AS "fit",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FIT' AND ML.RSLT_CODE2 = '0' THEN 'FIT' END ) AS "fits",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FIT' AND ML.RSLT_CODE2 != '0' THEN 'FIT' END ) AS "fitf",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FIT' THEN 'FIT' END ) AS "fitr",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FIT' AND ML.RSLT_NET = 'ETC' AND MSG_RESEND_COUNT > 0 THEN 'FIT' END ) AS "fitrs",
		COUNT( CASE WHEN MSG_PAY_CODE = 'FIT' AND ML.RSLT_NET = 'ETC' AND MSG_RESEND_COUNT = 0 THEN 'FIT' END ) AS "fitrf"
	FROM(
		SELECT 
			TO_CHAR(TO_DATE(REPLACE(#{start_dt},'-',''),'YYYYMMDD')+LEVEL-1,'YYYYMMDD') AS SDAY
		FROM 
		  	DUAL 
		CONNECT BY LEVEL &lt;= (TO_DATE(REPLACE(#{end_dt},'-',''),'YYYYMMDD') - TO_DATE(REPLACE(#{start_dt},'-',''),'YYYYMMDD')+1)		
		) SUB
		LEFT JOIN MSG_LOG_${month} ML ON SUB.SDAY = TO_CHAR(ML.SENT_DATE, 'YYYYMMDD')
		GROUP BY
			SUB.SDAY
	ORDER BY
		SUB.SDAY ASC
	</select>
</mapper>
